@import url('https://fonts.googleapis.com/css2?family=Roboto&family=RocknRoll+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body, button, text {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

header {
    background: #007965;
    padding: 10px 0;
}

h1 {
    font-family: 'RocknRoll One', sans-serif;
    color: #fff;
    text-align: center;
}

main > div:first-child {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #007965;
}

#game-section {
    width: 60%;
}

#game-section > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 20%;
    background: #C6FCED;
}

button {
    color: #007965;
    background: #fff;
    border: solid 2px #007965;
    border-radius: 4px;
    padding: 5px 15px;
    font-weight: bold;
}

button:disabled {
    color: #518163;
    background: #DAE5DD;
    border-color: #518163;
}

#game-section > div:first-child > h3 {
    color: #007965;
}

#game {
    height: 80%;
}

#cities, #countries {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

#cities {
    align-items: center;
    border-bottom: dashed 1px #007965;
}

.city {
    cursor: grab;
    border: solid 2px #007965;
    border-radius: 5px;
    padding: 5px 10px;
    background: #EBFDF8;
}

.country {
    flex-grow: 1;
    border: solid 2px #007965;
    border-radius: 5px;
    margin: 10px 15px;
}

.country > .name {
    text-align: center;
    border-bottom: solid 2px #007965;
    padding: 5px;
    height: 40%;
    background: #EBFDF8;
}

.answer {
    height: 60%;
}

.correct-answer {
    background: #CAEF90;
    height: 60%;
    border-radius: 3px;
}

#map-section {
    width: 40%;
    height: 290px;
}

#chart-section {
    display: flex;
}

/* 'No Data' google chart info */
[x="200.5"] {
    display: none;
}