* {
    margin: 0;
}

h1 {
    color: cadetblue;
}

#cities, #countries {
    display: flex;
    justify-content: space-around;
}

.city {
    cursor: grab;
}

#map-section {
    height: 200px;
}